@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);





body {
  font-family: IBM Plex Sans;
}
.display-1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.125rem;
}
.display-5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.75rem;
}
.display-7 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.72rem;
    font-size: calc( 0.965rem + (0.9 - 0.965) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.965rem + (0.9 - 0.965) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #ffe161 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #6592e6 !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #e43f3f !important;
  border-color: #e43f3f !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #b31919 !important;
  border-color: #b31919 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #b31919 !important;
  border-color: #b31919 !important;
}
.btn-info,
.btn-info:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #e43f3f;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #b31919 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #e43f3f !important;
  border-color: #e43f3f !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6592e6;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #ffe161 !important;
}
.text-secondary {
  color: #e43f3f !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #6592e6 !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #facb00 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #a61717 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #205ac5 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #ffe161;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #6592e6;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ffe161;
  border-color: #ffe161;
  color: #7a6300;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #ffe161;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.125rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #ffe161 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.125rem;
}
blockquote {
  border-color: #ffe161;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ffe161;
  color: #000000;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #ffe161;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ffe161;
  border-bottom-color: #ffe161;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ffe161 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #e43f3f !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ffe161' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-s5QH1HLZoS {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-s5QH1HLZoS nav.navbar {
  position: fixed;
}
.cid-s5QH1HLZoS .dropdown-item:before {
  font-family: Moririse2 !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-s5QH1HLZoS .dropdown-menu {
  padding: 0;
}
.cid-s5QH1HLZoS .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-s5QH1HLZoS .dropdown-item:hover,
.cid-s5QH1HLZoS .dropdown-item:focus {
  background: #ffe161 !important;
  color: white !important;
}
.cid-s5QH1HLZoS .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-s5QH1HLZoS .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-s5QH1HLZoS .nav-link {
  position: relative;
}
.cid-s5QH1HLZoS .container {
  display: flex;
  margin: auto;
}
.cid-s5QH1HLZoS .iconfont-wrapper {
  color: #fafafa !important;
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-s5QH1HLZoS .navbar-caption {
  padding-right: 4rem;
}
.cid-s5QH1HLZoS .dropdown-menu,
.cid-s5QH1HLZoS .navbar.opened {
  background: #232323 !important;
}
.cid-s5QH1HLZoS .nav-item:focus,
.cid-s5QH1HLZoS .nav-link:focus {
  outline: none;
}
.cid-s5QH1HLZoS .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-s5QH1HLZoS .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-s5QH1HLZoS .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-s5QH1HLZoS .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-s5QH1HLZoS .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-s5QH1HLZoS .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-s5QH1HLZoS .navbar {
  min-height: 77px;
  transition: all .3s;
  border-bottom: 1px solid transparent;
  background: #232323;
}
.cid-s5QH1HLZoS .navbar:not(.navbar-short) {
  border-bottom: 1px solid #e6e6e6;
}
.cid-s5QH1HLZoS .navbar.opened {
  transition: all .3s;
}
.cid-s5QH1HLZoS .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-s5QH1HLZoS .navbar .navbar-logo img {
  width: auto;
}
.cid-s5QH1HLZoS .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-s5QH1HLZoS .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-s5QH1HLZoS .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-s5QH1HLZoS .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 4.7rem);
  }
}
.cid-s5QH1HLZoS .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-s5QH1HLZoS .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-s5QH1HLZoS .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-s5QH1HLZoS .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-s5QH1HLZoS .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-s5QH1HLZoS .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-s5QH1HLZoS .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-s5QH1HLZoS .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-s5QH1HLZoS .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-s5QH1HLZoS .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-s5QH1HLZoS .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-s5QH1HLZoS .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-s5QH1HLZoS .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-s5QH1HLZoS .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-s5QH1HLZoS .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-s5QH1HLZoS .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-s5QH1HLZoS .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-s5QH1HLZoS .navbar.navbar-short {
  min-height: 60px;
}
.cid-s5QH1HLZoS .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-s5QH1HLZoS .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-s5QH1HLZoS .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-s5QH1HLZoS .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-s5QH1HLZoS .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-s5QH1HLZoS .dropdown-item.active,
.cid-s5QH1HLZoS .dropdown-item:active {
  background-color: transparent;
}
.cid-s5QH1HLZoS .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-s5QH1HLZoS .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-s5QH1HLZoS .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-s5QH1HLZoS .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #232323;
}
.cid-s5QH1HLZoS .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-s5QH1HLZoS .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-s5QH1HLZoS ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-s5QH1HLZoS .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-s5QH1HLZoS button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-s5QH1HLZoS button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: currentColor;
}
.cid-s5QH1HLZoS button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s5QH1HLZoS button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s5QH1HLZoS button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s5QH1HLZoS button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s5QH1HLZoS nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s5QH1HLZoS nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s5QH1HLZoS nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s5QH1HLZoS nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s5QH1HLZoS .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-s5QH1HLZoS a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-s5QH1HLZoS .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-s5QH1HLZoS .navbar {
    height: 77px;
  }
  .cid-s5QH1HLZoS .navbar.opened {
    height: auto;
  }
  .cid-s5QH1HLZoS .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-s6eWAEucLz {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: url("../../../assets/images/bg2-2000x1125.jpg");
}
.cid-s6eWAEucLz .row {
  flex-direction: row-reverse;
}
.cid-s6eWAEucLz .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-s6eWAEucLz .image-wrapper {
    padding: 1rem;
  }
}
.cid-s6eWAEucLz .mbr-text,
.cid-s6eWAEucLz .mbr-section-btn {
  color: #ffffff;
  text-align: left;
}
.cid-s6eWAEucLz .mbr-section-title {
  color: #47b5ed;
  text-align: left;
}
.cid-s5QS9jOiba {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: #fafafa;
}
.cid-s5QS9jOiba .mbr-section-subtitle {
  color: #4479d9;
  text-align: center;
}
.cid-s5QS9jOiba .mbr-text {
  color: #000000;
  text-align: center;
}
.cid-spIug74iIy {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #232323;
}
.cid-spIug74iIy .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-spIug74iIy .image-wrap img {
    display: block;
    margin: auto;
    width: 80%;
  }
}
.cid-spIug74iIy .mbr-text,
.cid-spIug74iIy .mbr-section-btn {
  color: #bbbbbb;
  text-align: center;
}
.cid-spIug74iIy .mbr-section-title {
  color: #4479d9;
}
.cid-svWjEbpq3z {
  padding-top: 0rem;
  padding-bottom: 4rem;
  background-color: #232323;
}
.cid-svWjEbpq3z .card-box {
  z-index: 10;
  position: relative;
}
@media (min-width: 1500px) {
  .cid-svWjEbpq3z .container {
    max-width: 1400px;
  }
}
.cid-svWjEbpq3z .card {
  margin: auto;
}
.cid-svWjEbpq3z .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #6592e6;
  margin-bottom: 2rem;
}
.cid-svWjEbpq3z .card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-svWjEbpq3z .row {
  justify-content: center;
}
.cid-svWjEbpq3z .card-title,
.cid-svWjEbpq3z .card-box {
  color: #bbbbbb;
}
.cid-spIv8nuNRp {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: #fafafa;
}
.cid-spIv8nuNRp .row {
  flex-direction: row-reverse;
}
.cid-spIv8nuNRp .video-wrapper iframe {
  width: 100%;
}
.cid-spIv8nuNRp .mbr-section-title,
.cid-spIv8nuNRp .mbr-description {
  text-align: center;
}
@media (min-width: 992px) {
  .cid-spIv8nuNRp .text-wrapper {
    padding: 2rem;
  }
}
.cid-spIv8nuNRp .mbr-text {
  text-align: left;
  color: #000000;
}
.cid-spIv8nuNRp .mbr-description {
  text-align: center;
  color: #000000;
}
.cid-spIv8nuNRp .mbr-section-title {
  text-align: center;
  color: #000000;
}
.cid-swBpOdTuhT {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-swBpOdTuhT img,
.cid-swBpOdTuhT .item-img {
  width: 100%;
  height: 100%;
  height: 200px;
  object-fit: cover;
}
.cid-swBpOdTuhT .item:focus,
.cid-swBpOdTuhT span:focus {
  outline: none;
}
.cid-swBpOdTuhT .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-swBpOdTuhT .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-swBpOdTuhT .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-swBpOdTuhT .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-swBpOdTuhT .mbr-section-btn {
  margin-top: auto !important;
}
.cid-swBpOdTuhT .mbr-section-title {
  color: #4479d9;
}
.cid-swBpOdTuhT .mbr-text,
.cid-swBpOdTuhT .mbr-section-btn {
  text-align: left;
}
.cid-swBpOdTuhT .item-title {
  text-align: center;
}
.cid-swBpOdTuhT .item-subtitle {
  text-align: center;
}
.cid-spIyCTrqd6 {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #fafafa;
}
.cid-spIyCTrqd6 .item {
  padding-bottom: 2rem;
}
.cid-spIyCTrqd6 .item-wrapper {
  height: 300px;
  position: relative;
}
.cid-spIyCTrqd6 .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-spIyCTrqd6 .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-spIyCTrqd6 .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-spIyCTrqd6 .carousel-control,
.cid-spIyCTrqd6 .close {
  background: #1b1b1b;
}
.cid-spIyCTrqd6 .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-spIyCTrqd6 .carousel-control-prev span {
  margin-right: 5px;
}
.cid-spIyCTrqd6 .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-spIyCTrqd6 .carousel-control-next span {
  margin-left: 5px;
}
.cid-spIyCTrqd6 .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-spIyCTrqd6 .close::before {
  content: '\e91a';
}
.cid-spIyCTrqd6 .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-spIyCTrqd6 .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-spIyCTrqd6 .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-spIyCTrqd6 .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-spIyCTrqd6 .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-spIyCTrqd6 .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-spIyCTrqd6 .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-spIyCTrqd6 .carousel-indicators li.active,
.cid-spIyCTrqd6 .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-spIyCTrqd6 .carousel-indicators li::after,
.cid-spIyCTrqd6 .carousel-indicators li::before {
  content: none;
}
.cid-spIyCTrqd6 .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-spIyCTrqd6 .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-spIyCTrqd6 .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-spIyCTrqd6 .carousel-indicators {
    display: none;
  }
}
.cid-spIyCTrqd6 .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-spIyCTrqd6 .carousel-inner > .active {
  display: block;
}
.cid-spIyCTrqd6 .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-spIyCTrqd6 .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-spIyCTrqd6 .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-spIyCTrqd6 .carousel-control,
  .cid-spIyCTrqd6 .carousel-indicators,
  .cid-spIyCTrqd6 .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-spIyCTrqd6 .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-spIyCTrqd6 .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-spIyCTrqd6 .carousel-indicators .active,
.cid-spIyCTrqd6 .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-spIyCTrqd6 .carousel-indicators .active {
  background: #fff;
}
.cid-spIyCTrqd6 .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-spIyCTrqd6 .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-spIyCTrqd6 .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-spIyCTrqd6 .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-spIyCTrqd6 .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-spIyCTrqd6 .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-spIyCTrqd6 .carousel {
  width: 100%;
}
.cid-spIyCTrqd6 .modal-backdrop.in {
  opacity: 0.8;
}
.cid-spIyCTrqd6 .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-spIyCTrqd6 .modal.fade .modal-dialog,
.cid-spIyCTrqd6 .modal.in .modal-dialog {
  transform: none;
}
.cid-spIyCTrqd6 .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-spIyCTrqd6 H6 {
  text-align: center;
  color: #353535;
}
.cid-spIyCTrqd6 H4 {
  text-align: center;
  color: #000000;
}
.cid-spIAbZYwRl {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #232323;
}
.cid-spIAbZYwRl .video-wrapper iframe {
  width: 100%;
}
.cid-spIAbZYwRl .mbr-section-title,
.cid-spIAbZYwRl .mbr-section-subtitle,
.cid-spIAbZYwRl .mbr-text {
  text-align: center;
}
.cid-spIAbZYwRl .mbr-section-title {
  color: #fafafa;
}
.cid-spIAbZYwRl .mbr-section-subtitle {
  color: #111111;
}
.cid-spIAbZYwRl .mbr-text {
  color: #fafafa;
}
.cid-spJNsj0gV2 {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-spJNsj0gV2 .video-wrapper iframe {
  width: 100%;
}
.cid-spJNsj0gV2 .mbr-section-title,
.cid-spJNsj0gV2 .mbr-description {
  text-align: center;
}
@media (min-width: 992px) {
  .cid-spJNsj0gV2 .text-wrapper {
    padding: 2rem;
  }
}
.cid-spJNsj0gV2 .mbr-section-title DIV {
  text-align: center;
}
.cid-spJNsj0gV2 .mbr-section-title {
  text-align: center;
  color: #353535;
}
.cid-spJNsj0gV2 .mbr-text {
  color: #353535;
}
.cid-spJNsj0gV2 .mbr-description {
  color: #353535;
}
.cid-spJPnup3KD {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #232323;
}
@media (max-width: 991px) {
  .cid-spJPnup3KD .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-spJPnup3KD .row {
  flex-direction: row-reverse;
}
.cid-spJPnup3KD img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-spJPnup3KD .text-wrapper {
    padding: 2rem;
  }
}
.cid-spJPnup3KD .mbr-text {
  color: #bbbbbb;
}
.cid-spJPnup3KD .mbr-section-title {
  color: #4479d9;
}
.cid-swIiEjxJTp {
  padding-top: 4rem;
  padding-bottom: 3rem;
  background-image: url("../../../assets/images/mbr-1920x1280.jpg");
}
.cid-swIiEjxJTp .item {
  padding-bottom: 2rem;
}
.cid-swIiEjxJTp .item-wrapper {
  position: relative;
}
.cid-swIiEjxJTp .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-swIiEjxJTp .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-swIiEjxJTp .carousel-control,
.cid-swIiEjxJTp .close {
  background: #1b1b1b;
}
.cid-swIiEjxJTp .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-swIiEjxJTp .carousel-control-prev span {
  margin-right: 5px;
}
.cid-swIiEjxJTp .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-swIiEjxJTp .carousel-control-next span {
  margin-left: 5px;
}
.cid-swIiEjxJTp .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-swIiEjxJTp .close::before {
  content: '\e91a';
}
.cid-swIiEjxJTp .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-swIiEjxJTp .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-swIiEjxJTp .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-swIiEjxJTp .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-swIiEjxJTp .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-swIiEjxJTp .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-swIiEjxJTp .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-swIiEjxJTp .carousel-indicators li.active,
.cid-swIiEjxJTp .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-swIiEjxJTp .carousel-indicators li::after,
.cid-swIiEjxJTp .carousel-indicators li::before {
  content: none;
}
.cid-swIiEjxJTp .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-swIiEjxJTp .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-swIiEjxJTp .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-swIiEjxJTp .carousel-indicators {
    display: none;
  }
}
.cid-swIiEjxJTp .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-swIiEjxJTp .carousel-inner > .active {
  display: block;
}
.cid-swIiEjxJTp .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-swIiEjxJTp .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-swIiEjxJTp .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-swIiEjxJTp .carousel-control,
  .cid-swIiEjxJTp .carousel-indicators,
  .cid-swIiEjxJTp .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-swIiEjxJTp .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-swIiEjxJTp .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-swIiEjxJTp .carousel-indicators .active,
.cid-swIiEjxJTp .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-swIiEjxJTp .carousel-indicators .active {
  background: #fff;
}
.cid-swIiEjxJTp .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-swIiEjxJTp .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-swIiEjxJTp .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-swIiEjxJTp .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-swIiEjxJTp .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-swIiEjxJTp .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-swIiEjxJTp .carousel {
  width: 100%;
}
.cid-swIiEjxJTp .modal-backdrop.in {
  opacity: 0.8;
}
.cid-swIiEjxJTp .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-swIiEjxJTp .modal.fade .modal-dialog,
.cid-swIiEjxJTp .modal.in .modal-dialog {
  transform: none;
}
.cid-swIiEjxJTp .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-swIiEjxJTp H6 {
  text-align: center;
  color: #ffffff;
}
.cid-swIiEjxJTp H3 {
  color: #ffffff;
}
.cid-svgZ144q5u {
  padding-top: 5rem;
  padding-bottom: 4rem;
  background-color: #fafafa;
}
.cid-svgZ144q5u .top-line {
  display: flex;
  justify-content: space-between;
}
.cid-svgZ144q5u .mbr-section-title,
.cid-svgZ144q5u .mbr-section-subtitle {
  text-align: center;
}
.cid-svgZ144q5u .card:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
.cid-svgZ144q5u .card-wrapper {
  border-radius: 4px;
  background-color: #fafafa;
  background-color: transparent;
}
.cid-svgZ144q5u .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-svgZ144q5u .card-box {
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .cid-svgZ144q5u .card-box {
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-svgZ144q5u .card-box {
    padding-left: 2rem;
    padding-right: 4rem;
  }
}
.cid-svgZ144q5u .mbr-text {
  color: #353535;
}
.cid-svgZ144q5u .mbr-section-title {
  color: #353535;
}
.cid-s6ksHhaJWU {
  padding-top: 4rem;
  padding-bottom: 3rem;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-s6ksHhaJWU .carousel-item {
  justify-content: center;
}
.cid-s6ksHhaJWU .carousel-item.active,
.cid-s6ksHhaJWU .carousel-item-next,
.cid-s6ksHhaJWU .carousel-item-prev {
  display: flex;
}
.cid-s6ksHhaJWU .carousel-controls a {
  transition: opacity .5s;
  font-size: 22px;
  position: absolute;
  top: 180px;
  bottom: auto;
  height: 60px;
  width: 60px;
  padding: 10px;
  border-radius: 50%;
  color: #585858;
  background: #c8c6c6;
}
.cid-s6ksHhaJWU .carousel-control-next span {
  padding-left: 5px;
}
.cid-s6ksHhaJWU .carousel-control-prev span {
  padding-right: 5px;
}
.cid-s6ksHhaJWU .user_image {
  width: 200px;
  height: 200px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 2rem auto;
}
.cid-s6ksHhaJWU .user_image img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
@media (max-width: 230px) {
  .cid-s6ksHhaJWU .user_image {
    width: 100%;
    height: auto;
  }
}
.cid-s6ksHhaJWU H3 {
  color: #353535;
}
.cid-s6ksHhaJWU .user_name {
  text-align: center;
  color: #353535;
}
.cid-s6ksHhaJWU .user_text {
  color: #000000;
}
.cid-s6f2azYgzY {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-image: url("../../../assets/images/mbr-1920x822.jpg");
}
@media (max-width: 991px) {
  .cid-s6f2azYgzY .media-wrap {
    margin-bottom: 1rem;
  }
}
.cid-s6f2azYgzY .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-s6f2azYgzY .list {
  list-style: none;
  padding-left: 0;
  color: #bbbbbb;
}
@media (max-width: 991px) {
  .cid-s6f2azYgzY .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-s6f2azYgzY .list {
    margin-bottom: 0rem;
  }
}
.cid-s6f2azYgzY .mbr-text {
  color: #fafafa;
}
.cid-s6f2azYgzY .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
.cid-s6f2azYgzY .mbr-iconfont {
  color: black;
}
.cid-s6f2azYgzY .mbr-section-subtitle {
  color: #9fdbf8;
}
.cid-s6f78TfIW5 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background: #ffffff;
}
.cid-s6f78TfIW5 .google-map {
  height: 30rem;
  position: relative;
}
.cid-s6f78TfIW5 .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-s6f78TfIW5 .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-s6f78TfIW5 .google-map[data-state] {
  background: #e9e5dc;
}
.cid-s6f78TfIW5 .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-s6O0VS8Gr3 {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-image: url("../../../assets/images/bg3-1600x1023.jpg");
}
.cid-s6O0VS8Gr3 .mbr-text,
.cid-s6O0VS8Gr3 .mbr-section-btn {
  color: #333333;
}
.cid-s6O0VS8Gr3 .card-title,
.cid-s6O0VS8Gr3 .card-box {
  color: #ffffff;
}
.cid-s6O0VS8Gr3 .mbr-text,
.cid-s6O0VS8Gr3 .link-wrap {
  color: #353535;
}
.cid-spUcj9VDDt {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-spUcj9VDDt blockquote {
  border-color: #bbbbbb;
  border-radius: 4px;
  background-color: #fafafa;
}
.cid-s6O4ZVFkRw {
  padding-top: 1rem;
  padding-bottom: 3rem;
  background-color: #353535;
}
.cid-s6O4ZVFkRw .video-wrapper {
  width: 100%;
}
.cid-s6O4ZVFkRw .mbr-section-title,
.cid-s6O4ZVFkRw .mbr-section-subtitle,
.cid-s6O4ZVFkRw .mbr-text {
  text-align: center;
}
.cid-s6O4ZVFkRw .mbr-section-title {
  color: #fafafa;
}
.cid-s6O4ZVFkRw .mbr-text {
  color: #fafafa;
}
.cid-spU8dpRTvL {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #fafafa;
}
.cid-spU8dpRTvL img,
.cid-spU8dpRTvL .item-img {
  width: 100%;
}
.cid-spU8dpRTvL .item:focus,
.cid-spU8dpRTvL span:focus {
  outline: none;
}
.cid-spU8dpRTvL .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-spU8dpRTvL .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-spU8dpRTvL .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-spU8dpRTvL .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-spU8dpRTvL .mbr-section-btn {
  margin-top: auto !important;
}
.cid-spU8dpRTvL .mbr-section-title {
  color: #232323;
}
.cid-spU8dpRTvL .mbr-text,
.cid-spU8dpRTvL .mbr-section-btn {
  text-align: left;
}
.cid-spU8dpRTvL .item-title {
  text-align: left;
}
.cid-spU8dpRTvL .item-subtitle {
  text-align: left;
}
.cid-s6f2azYgzY {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-image: url("../../../assets/images/mbr-1920x822.jpg");
}
@media (max-width: 991px) {
  .cid-s6f2azYgzY .media-wrap {
    margin-bottom: 1rem;
  }
}
.cid-s6f2azYgzY .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-s6f2azYgzY .list {
  list-style: none;
  padding-left: 0;
  color: #bbbbbb;
}
@media (max-width: 991px) {
  .cid-s6f2azYgzY .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-s6f2azYgzY .list {
    margin-bottom: 0rem;
  }
}
.cid-s6f2azYgzY .mbr-text {
  color: #fafafa;
}
.cid-s6f2azYgzY .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
.cid-s6f2azYgzY .mbr-iconfont {
  color: black;
}
.cid-s6f2azYgzY .mbr-section-subtitle {
  color: #9fdbf8;
}
.cid-s6TDbBJFy5 {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/memb-1750x916.jpg");
}
.cid-s6TDbBJFy5 .mbr-text,
.cid-s6TDbBJFy5 .mbr-section-btn {
  color: #333333;
}
.cid-s6TDbBJFy5 .card-title,
.cid-s6TDbBJFy5 .card-box {
  color: #ffffff;
}
.cid-s6TDbBJFy5 .mbr-text,
.cid-s6TDbBJFy5 .link-wrap {
  color: #ffffff;
}
.cid-sbQJKZZ5TA {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #fafafa;
}
.cid-sbQJKZZ5TA .mbr-text {
  text-align: left;
}
.cid-s6TFo9wMy1 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-s6TFo9wMy1 ul {
  list-style: none;
  margin: 0;
  padding-left: 1.6rem;
}
.cid-s6TFo9wMy1 li {
  position: relative;
  margin-bottom: 1rem;
}
.cid-s6TFo9wMy1 ul li::before {
  position: absolute;
  left: -1.6rem;
  content: "\2022";
  color: #ffe161;
  font-weight: bold;
  font-size: 2rem;
  width: 1.6rem;
}
.cid-s6TFo9wMy1 H3 {
  text-align: left;
}
.cid-s6THnlHjvP {
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color: #353535;
}
.cid-s6THnlHjvP .video-wrapper {
  width: 100%;
}
.cid-s6THnlHjvP .mbr-section-title,
.cid-s6THnlHjvP .mbr-section-subtitle,
.cid-s6THnlHjvP .mbr-text {
  text-align: center;
}
.cid-s6THnlHjvP .mbr-text {
  color: #fafafa;
}
.cid-s6THnlHjvP .mbr-section-title {
  color: #fafafa;
}
.cid-sbQP4lyy4u {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sbQP4lyy4u .mbr-text {
  text-align: left;
}
.cid-s6f2azYgzY {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-image: url("../../../assets/images/mbr-1920x822.jpg");
}
@media (max-width: 991px) {
  .cid-s6f2azYgzY .media-wrap {
    margin-bottom: 1rem;
  }
}
.cid-s6f2azYgzY .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-s6f2azYgzY .list {
  list-style: none;
  padding-left: 0;
  color: #bbbbbb;
}
@media (max-width: 991px) {
  .cid-s6f2azYgzY .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-s6f2azYgzY .list {
    margin-bottom: 0rem;
  }
}
.cid-s6f2azYgzY .mbr-text {
  color: #fafafa;
}
.cid-s6f2azYgzY .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
.cid-s6f2azYgzY .mbr-iconfont {
  color: black;
}
.cid-s6f2azYgzY .mbr-section-subtitle {
  color: #9fdbf8;
}
.cid-spTGZTcFz7 {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/background3.jpg");
}
.cid-spTGZTcFz7 .mbr-section-subtitle {
  color: #ffffff;
}
.cid-spTGZTcFz7 .mbr-section-title {
  color: #fafafa;
}
.cid-spUqcXnPPN {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-spUqcXnPPN img,
.cid-spUqcXnPPN .item-img {
  width: 100%;
}
.cid-spUqcXnPPN .item:focus,
.cid-spUqcXnPPN span:focus {
  outline: none;
}
.cid-spUqcXnPPN .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-spUqcXnPPN .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-spUqcXnPPN .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-spUqcXnPPN .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-spUqcXnPPN .mbr-section-btn {
  margin-top: auto !important;
}
.cid-spUqcXnPPN .mbr-section-title {
  color: #232323;
}
.cid-spUqcXnPPN .mbr-text,
.cid-spUqcXnPPN .mbr-section-btn {
  text-align: left;
}
.cid-spUqcXnPPN .item-title {
  text-align: left;
  color: #e43f3f;
}
.cid-spUqcXnPPN .item-subtitle {
  text-align: center;
}
.cid-spUwmJwRuE {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #353535;
}
.cid-spUwmJwRuE img,
.cid-spUwmJwRuE .item-img {
  width: 100%;
}
.cid-spUwmJwRuE .item:focus,
.cid-spUwmJwRuE span:focus {
  outline: none;
}
.cid-spUwmJwRuE .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-spUwmJwRuE .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #bbbbbb;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-spUwmJwRuE .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-spUwmJwRuE .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-spUwmJwRuE .mbr-section-btn {
  margin-top: auto !important;
}
.cid-spUwmJwRuE .mbr-section-title {
  color: #fafafa;
}
.cid-spUwmJwRuE .mbr-text,
.cid-spUwmJwRuE .mbr-section-btn {
  text-align: left;
}
.cid-spUwmJwRuE .item-title {
  text-align: center;
  color: #fafafa;
}
.cid-spUwmJwRuE .item-subtitle {
  text-align: center;
}
.cid-spTGZUBbMB {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-image: url("../../../assets/images/mbr-1920x822.jpg");
}
@media (max-width: 991px) {
  .cid-spTGZUBbMB .media-wrap {
    margin-bottom: 1rem;
  }
}
.cid-spTGZUBbMB .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-spTGZUBbMB .list {
  list-style: none;
  padding-left: 0;
  color: #bbbbbb;
}
@media (max-width: 991px) {
  .cid-spTGZUBbMB .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-spTGZUBbMB .list {
    margin-bottom: 0rem;
  }
}
.cid-spTGZUBbMB .mbr-text {
  color: #fafafa;
}
.cid-spTGZUBbMB .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
.cid-spTGZUBbMB .mbr-iconfont {
  color: black;
}
.cid-spTGZUBbMB .mbr-section-subtitle {
  color: #9fdbf8;
}
.cid-spTIwX7ivx {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-image: url("../../../assets/images/mbr-1920x1280.jpg");
}
.cid-spTIwX7ivx .mbr-text,
.cid-spTIwX7ivx .mbr-section-btn {
  color: #333333;
}
.cid-spTIwX7ivx .card-title,
.cid-spTIwX7ivx .card-box {
  color: #ffffff;
}
.cid-spTIwX7ivx .mbr-text,
.cid-spTIwX7ivx .link-wrap {
  color: #ffffff;
}
.cid-sqhBAalLTe {
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: #000000;
}
@media (max-width: 991px) {
  .cid-sqhBAalLTe .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sqhBAalLTe .row {
  flex-direction: row-reverse;
}
.cid-sqhBAalLTe img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-sqhBAalLTe .text-wrapper {
    padding: 2rem;
  }
}
.cid-sqhBAalLTe .mbr-section-title {
  color: #f00be5;
}
.cid-sqhBAalLTe .mbr-text {
  color: #fafafa;
}
.cid-sqEZEIWgjB {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-sqEZEIWgjB .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-sqEZEIWgjB .image-wrap img {
    display: block;
    margin: auto;
    width: 80%;
  }
}
.cid-spUzxMRWUc {
  padding-top: 4rem;
  padding-bottom: 3rem;
  background-color: #232323;
}
.cid-spUzxMRWUc img,
.cid-spUzxMRWUc .item-img {
  width: 100%;
}
.cid-spUzxMRWUc .item:focus,
.cid-spUzxMRWUc span:focus {
  outline: none;
}
.cid-spUzxMRWUc .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-spUzxMRWUc .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #353535;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-spUzxMRWUc .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-spUzxMRWUc .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-spUzxMRWUc .mbr-section-btn {
  margin-top: auto !important;
}
.cid-spUzxMRWUc .mbr-section-title {
  color: #fafafa;
}
.cid-spUzxMRWUc .mbr-text,
.cid-spUzxMRWUc .mbr-section-btn {
  text-align: center;
  color: #fafafa;
}
.cid-spUzxMRWUc .item-title {
  text-align: center;
  color: #f00be5;
}
.cid-spUzxMRWUc .item-subtitle {
  text-align: center;
}
.cid-spUJ8H80tX {
  padding-top: 3rem;
  padding-bottom: 4rem;
  background-color: #fafafa;
}
.cid-spUJ8H80tX .video-wrapper iframe {
  width: 100%;
}
.cid-spUJ8H80tX .mbr-section-title,
.cid-spUJ8H80tX .mbr-section-subtitle,
.cid-spUJ8H80tX .mbr-text {
  text-align: center;
}
.cid-spUJ8H80tX .mbr-section-title {
  color: #000000;
}
.cid-spUJ8H80tX .mbr-text {
  color: #000000;
}
.cid-spTIx00nt5 {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-image: url("../../../assets/images/mbr-1920x822.jpg");
}
@media (max-width: 991px) {
  .cid-spTIx00nt5 .media-wrap {
    margin-bottom: 1rem;
  }
}
.cid-spTIx00nt5 .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-spTIx00nt5 .list {
  list-style: none;
  padding-left: 0;
  color: #bbbbbb;
}
@media (max-width: 991px) {
  .cid-spTIx00nt5 .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-spTIx00nt5 .list {
    margin-bottom: 0rem;
  }
}
.cid-spTIx00nt5 .mbr-text {
  color: #fafafa;
}
.cid-spTIx00nt5 .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
.cid-spTIx00nt5 .mbr-iconfont {
  color: black;
}
.cid-spTIx00nt5 .mbr-section-subtitle {
  color: #9fdbf8;
}
